@import url('https://fonts.googleapis.com/css?family=Wendy+One');


#button-play {
  background-color: pink;
  border-color: #ff9999;
}

#button-reset {
  background-color: #ff4d4d;
  border-color: red;

}

#score-total {
  font-size: 25px;
}

.game-box {
  display : none;
}

#score-keeper {
  font-size: 30px;
  text-align: center;
  background-color: pink;
  border: 1px solid #ff9999
;
  border-radius: 5px;
}

.form-control {
  width: 500px;
}

.jumbotron {
  margin-top: 20px;
  background-color: pink;
  background-image: url("../img/pigcute.jpg");
  opacity: .90;
  text-align: center;
  border: 1px solid pink;
  font-family: 'Wendy One', sans-serif;
  letter-spacing: .9em;
}

.jumbotron h1 {
  font-size: 100px;
  color: white;
  text-shadow: 3px 3px 3px #ff3333;
}

.jumbotron h3 {
  text-shadow: 2px 2px 1px white;
}

body {
  background-color: #fffae6;
  /*background-color: pink;*/
  /*background-image: url("../img/pigcute.jpg");*/
  /*background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;*/
}

.container {
  /*background-color: yellow;
  opacity: 0.95;
  border: 1px solid pink;
  border-radius: 15px;*/
}

.score-current {
  text-shadow: 0 0 3px white, 0 0 5px yellow;
  font-weight: bold;
}

/*.well-score {
  width: contain;
}*/

.well-form {
  width: 550px;
}

/*.col {
  min-height: 200px;
}*/
